<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> ENSET MY LADDY</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img width="15px" height="30" [src]="contact.logo"></ion-img>
      <ion-list>
        <ion-item>Nom: <strong>{{contact.name}}</strong></ion-item>
        <ion-item>Email: <strong>{{contact.email}}</strong></ion-item>
        <ion-item>Téléphone:<strong>{{contact.tel}}</strong></ion-item>
      </ion-list>
      <ion-img src="{{contact.location}}"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
